.idea
.ipynb_checkpoints
COCOsubset
MNIST_data
__pycache__
batchnorm.py
boston_house
boston_house_high_level.py
colornet_log
colornet_summary
custom_estimator.py
data
deep_mnist_low_level.py
estimator_LinearRegressor.py
estimators
inceptionV3.py
input_fn_high_level.py
input_pipeline.py
mnist
mnist.py
mnist_with_summaries.py
model_reuse.py
models
notebooks
residual_encoder.png
tfenv
tflearn
tftut.py
vgg
